
  <ion-pane id="current-detail">
    <ion-header-bar align-title="center" class="bar-clear">
  <div class="buttons">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
  </div>
  <h1 class="title">上海 <i class="fa fa-location-arrow"></i></h1>
</ion-header-bar>
    
    <ion-nav-view name="menuContent">
      <ion-content scroll-event-interval="20" scroll-effects scrollbar-y="false">

      <current-time></current-time>
      <current-weather></current-weather>
      <urrent-air-condition></urrent-air-condition>

      </ion-content>
    </ion-nav-view>
    </ion-pane>