




          <div class="current-summary">

<table>
    <tr>
      <td>
        <div>
          <div class="summary-icon">晴</div>
          <div class="content">天气</div>
        </div>
      </td>
      <td>
        <div>
          <div class="summary-icon">19</div>
          <div class="content">12~21 &#8451;</div>
        </div>
      </td>
    </tr>
</table>
<br/>

<table>
    <tr>
      <td>
        <div>
          <div class="summary-icon">优</div>
          <div class="content">空气指数</div>
        </div>
      </td>
      <td>
        <div>
          <div class="summary-icon">100</div>
          <div class="content">PM 2.5</div>
        </div>
      </td>
    </tr>

    </table>




          </div>
